.box {
  margin: 0 2vw 0 5vw;
}
.title {
  font-size: 1.6rem;
}

.body {
  width: 35vw;
  border: .1rem solid #a92929;
  display: flex;
}

.bankNoteItem {
  max-width: 17rem;
  //display: inline-block;
  padding: .5em 1em;
  box-sizing: border-box;
}

.coinItem {
  max-width: 9rem;
}

.coinItem__img {
  width: 100%;
}
