.title {
  font-size: 1.6rem;
}

$colorBorder: #282828;

$sizeLeftSide: 65%;
$sizeRightSide: 35%;

.box {
  margin: 0 10vw 0 2vw;
}

.body {
  width: 50vw;
  border: .1rem solid #29a936;
}

.vendingBody {
  width: 100%;
  height: 65rem;
  display: flex;
}

.productsViewer {
  width: $sizeLeftSide;
  height: 100%;
  background: rgba(148, 191, 110, .5);
  border-right: .1rem solid $colorBorder;
  border-bottom: .1rem solid $colorBorder;
}

.vendingRightPanel {
  width: $sizeRightSide;
  height: 100%;
  border-bottom: .1rem solid $colorBorder;
}

.vendingCommandPanel {
  height: 50%;
  background: rgba(170, 148, 148, .5);
}

.vendingMoneyInput {
  height: 50%;
  background: rgba(170, 178, 178, .5);
}

.vendingFooter {
  display: flex;
  width: 100%;
  height: 16rem;
}

.vendingOutputProducts {
  width: $sizeLeftSide;
  height: 100%;
  background: rgba(110, 130, 191, .5);
}

.vendingMoneyOutput {
  width: $sizeRightSide;
  height: 100%;
  background: rgba(191, 110, 173, .5);
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}

.productItem {
  width: 48%;
  margin: 1em 1%;
  text-align: center;
  border: .1rem solid #008000;
  box-sizing: border-box;
  border-radius: .4rem;
  padding: 1em;
}

.productItem--noItem {
  border-color: #800000;
}

.productImgContainer {
  width: 100%;
  height: 10rem;
  text-align: center;
  padding-bottom: 1rem;
}

.productImg {
  width: 10rem;
  height: 10rem;
}

.codeText {
  font-weight: bold;
  font-size: 1.4rem;
}

.vendingPanelList {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
}

.vendingPanelList__item {
  width: 23%;
  margin: .4em 1%;
  text-align: center;
}

.vendingPanel__button {
  width: 4em;
  height: 4em;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: 0;
  }
}

.vendingPanel__button--is-rectangle {
  width: 100%;
  border-radius: .8rem;
}

.vendingPanel__buttonText {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.8rem;
}

.vendingCommandMonitor {
  margin: 0 1.2em 1em;
  border: .2rem solid #2d2d2d;
  text-align: left;
  background: #2b8014;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0 .5em;
  color: #fff;
}

.vendingCommandMonitor__text {

}

.inputMoneyZone {
  width: 100%;
  height: 13rem;
  padding: 0 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.inputMoneyImgWrapper {
  width: 100%;
  height: 100%;
}

.inputMoneyImg {
  display: flex;
  width: 100%;
  max-width: 20rem;
  height: 100%;
  border: .2rem solid #6e6e6e;
  padding:0 1em;
  box-sizing: border-box;
}

.inputMoneyImg--moneyOver {
  border-color: #2b8014;
  background: #777777;
}
