@font-face {
  font-family: 'Philosopher';
  src: url('../fonts/Philosopher-Regular.ttf');
}

@font-face {
  font-family: 'Philosopher';
  src: url('../fonts/Philosopher-Bold.ttf');
  font-weight: 700;
}
